/* App.css */
* {
	transition: color 0.1s, background 0.1s, border 0.1s;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.4em;
}

h1,
h2 {
	text-align: center;
}

h3 {
	font-size: 1.17em;
}

/* Main */

button {
	cursor: pointer;
}

.svg-fill svg {
	fill: var(--foreground);
}

.svg-nofill svg {
	fill: none;
	stroke: var(--foreground);
}

main {
	background: var(--mainground);
	margin: 12px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-h1 {
	border-bottom: 1px solid var(--border);
	width: calc(100% - 10px);
}

.main__container {
	padding: 10px 0;
	width: 100%;
}

.cont__flex {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
}

.cont__pages {
	display: block;
}

.cont__projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px 0;
}

@media screen and (min-width: 550px) {
	main {
		margin: 12px;
	}
	.cont__flex {
		padding: 10px 50px;
	}
}

@media screen and (min-width: 1000px) {
	.cont__flex {
		padding: 10px 100px;
	}
}

@media screen and (min-width: 1500px) {
	main {
		font-size: 18px;
	}
	.cont__flex {
		padding: 10px 200px;
	}
}
@media screen and (min-width: 1900px) {
	main {
		font-size: 20px;
	}
}
@media screen and (min-width: 2600px) {
	main {
		font-size: 24px;
	}
}

/* === SCROLL GLOBAL === */
::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: #8b8b8b;
	border-radius: 999px;
}

/* Firefox global */
* {
	scrollbar-width: auto;
	scrollbar-color: #8b8b8b transparent;
}

/* === SCROLL DEL BODY === */
body::-webkit-scrollbar-thumb {
	background-color: var(--mainground);
}

/* Firefox body */
body {
	scrollbar-color: var(--mainground) transparent;
}

