/* App.css */
* {
	transition: color 0.1s, background 0.1s, border 0.1s, padding 0.1s,
		margin 0.1s;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.4em;
}

h1,
h2 {
	text-align: center;
}

h3 {
	font-size: 1.17em;
}

/* Main */

button {
	cursor: pointer;
}

.svg-fill svg {
	fill: var(--foreground);
}

.svg-nofill svg {
	fill: none;
	stroke: var(--foreground);
}

main {
	background: var(--mainground);
	margin: 12px 0;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 550px) {
	main {
		margin: 12px;
	}
}
@media screen and (min-width: 1500px) {
	main {
		font-size: 18px;
	}
}
@media screen and (min-width: 1900px) {
	main {
		font-size: 20px;
	}
}
@media screen and (min-width: 2600px) {
	main {
		font-size: 24px;
	}
}
