/* src/index.css */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--background: #8cd;
	--mainground: #efefef;
	--foreground: #000;
	--card: #fff;
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: #333;
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: #555;
	--mainground: #333;
	--foreground: #ccc;
	--card: #171717;
	--card-foreground: oklch(0.985 0 0);
	--popover: #333;
	--popover-foreground: #ccc;
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: #262626;
	--accent-foreground: #fafafa;
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

:root {
	--radius: 0.625rem;
	--container-height: 5rem;
	--padding-x: 1.5rem;
	--padding-m: 1rem;
	--padding-s: 0.5rem;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Main */

.container {
	border-top: 1px solid var(--border);
	padding: 10px 0;
	width: 100%;
}

.cont__flex {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
}

@media screen and (min-width: 600px) {
	.cont__flex {
		padding: 10px 50px;
	}
}

@media screen and (min-width: 800px) {
	.cont__flex {
		padding: 10px 100px;
	}
}

.cont__pages {
	display: block;
}

.cont__projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px 0;
}

.button,
.form__div {
	text-align: center;
	align-items: center;
	cursor: pointer;
}

.form__div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: auto;
	height: auto;
}

.form__div img {
	width: 6rem;
	height: 6rem;
}

.cards-container {
	display: flex;
	flex-direction: column;
	gap: var(--padding-m);
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (min-width: 750px) {
	.cards-container {
		flex-direction: row;
	}
	.card {
		width: calc(33% - var(--padding-m));
	}
}

.card {
	display: flex;
	align-items: center;
	height: var(--container-height);
	min-width: 220px;
	gap: var(--padding-m);
	padding: var(--padding-m);
	font-weight: bold;
	border: 1px solid var(--border);
}

.card:hover {
	background-color: var(--muted);
}

.card svg {
	height: calc(var(--container-height) - 2 * var(--padding-m));
	width: calc(var(--container-height) - 2 * var(--padding-m));
}

.notfound {
	text-align: center;
	padding: 2rem;
}

.section-container {
	display: flex;
	flex-direction: column;
	gap: var(--padding-m);
}

.section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--padding-m);
	padding: var(--padding-m);
	border: 1px solid var(--border);
}
.section legend {
	font-weight: bold;
	padding: 0 var(--padding-s);
}

.icon-theme,
.icon-theme svg {
	height: 4rem;
	min-width: 4rem;
	padding: var(--padding-s);
}

.icon-theme {
	height: 4rem;
	min-width: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	box-shadow: 0 0 5px var(--ring);
	background: var(--card);
	border-radius: var(--radius-md);
	transition: box-shadow 0.3s ease, background 0.3s ease;
}

.icon-theme:hover {
	background: var(--primary);
	color: var(--mainground);
}

.icon {
	position: absolute;
	inset: 0;
	transition: opacity 0.25s ease;
}

.icon-theme.light .light {
	opacity: 1;
}

.icon-theme.light .dark {
	opacity: 0;
}

.icon-theme.light.svg .dark g {
	stroke: #ccc;
}

.icon-theme.light.path .dark path {
	fill: #ccc;
}

.icon-theme.dark .light {
	opacity: 0;
}

.icon-theme.dark .dark {
	opacity: 1;
}

.icon-theme.light:hover .light {
	opacity: 0;
}
.icon-theme.light:hover .dark {
	opacity: 1;
}

.icon-theme.dark:hover .dark {
	opacity: 0;
}
.icon-theme.dark:hover .light {
	opacity: 1;
}

.light .icon-theme.single:hover path {
	fill: #ccc;
}

.dark .icon-theme.single:hover path {
	fill: #000;
}

.about-content {
	@apply md:max-h-96 lg:max-h-112 xl:max-h-128 overflow-y-auto w-full;
	border-top: 2px solid var(--border);
}

@media screen and (min-width: 500px) {
	.about-content {
		@apply rounded-md;
		border: 2px solid var(--border);
	}
}

.icon-tooltip {
	position: absolute;
	bottom: -2rem;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;

	background: var(--foreground);
	color: var(--background);
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.375rem;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease, transform 0.2s ease;
	z-index: 10;
}

.icon-theme:hover .icon-tooltip {
	opacity: 1;
	transform: translateX(-50%) translateY(0.25rem);
}

.zoom-normal {
	width: 50%;
	cursor: zoom-in;
	border-radius: 8px;
	margin: auto;
	min-width: 400px;
}

/* Overlay */
.zoom-overlay {
	position: fixed;
	inset: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(6px);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Imagen en modal */
.zoom-modal-img {
	max-width: 90vw;
	max-height: 90vh;
	border-radius: 12px;
	cursor: zoom-out;
}
